#about h1 {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-style: normal;
    font-size: 37px;
    line-height: 45px;
}

#about p {
    font-family: var(--text-font);
}

#about {
    margin-bottom: 40px;
    padding: 10px;
}

#carousel {
    background-image: url("/images/section-bg.png") no-repeat;
    background-size: cover;
    position: relative;
}


/*.layer {
    background-color: rgba(70, 40, 243, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


/*---------------------*/

#carousel {
    background-color: var(--primary-color);
    background-image: url("/assets/images/Group\ 3.svg");
    background-size: cover;
    border: 1px solid #3a407c;
}

.car {
    padding: 60px 60px 0px 60px;
}

.carousel--text {
    color: var(--white-color);
    font-family: var(--section-header-font);
    font-size: 37px;
    line-height: 57px;
}

.carousel__paragraph {
    color: var(--white-color);
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}


/*-------------------------*/

.carousel-link {
    /* border: 2px solid red;*/
    padding: 0px 50px;
}

.carousel img {
    margin: 0px 40px;
}

.carousel-image {
    width: 100%;
    height: auto;
}

@media (max-width: 414px) {
    .carousel-link {
        /*  border: 2px solid red;*/
        padding: 0px 50px;
    }
    .carousel-image {
        width: 100%;
        height: auto;
    }
    .carousel img {
        margin: 0px 0px;
    }
}


/*--------------------------------------*/

a {
    text-decoration: none;
}

.text {
    margin: 0;
    line-height: 0.55;
    color: var(--primary-color);
    font-family: var(--header-font);
}

span {
    display: inline-block;
}

.stack {
    display: block;
}


/*  Bouncing Animation */

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -10px, 0);
    }
}

.bouncing {
    animation: bounce 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: yellow;
    font-family: var(--header-font);
}


/*---------------------------------------*/

.i {
    color: yellow;
    position: relative;
}

.i:before {
    content: "ı";
    position: absolute;
    color: var(--primary-color);
}

#subscribe {
    background-image: url("/assets/images/decor-circles.svg");
    padding: 4rem 0px 0px 0px;
}

#subscribe h1 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

#subscribe .text {
    color: var(--white-color);
}

#subscribe .notice {
    margin-top: 15px;
    font-size: 25px;
}


/* Start slider CSS *

#sliderContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px #fff;
    opacity: 0.2;
    transition: opacity linear 0.25s;
}

#sliderContainer:hover {
    opacity: 1;
}

#sliderContainer h3 {
    margin: 0;
    text-align: center;
}

#sliderContainer strong {
    width: 115px;
    display: inline-block;
}

#sliderContainer input {
    width: 200px;
    margin: 0;
}

#sliderContainer span {
    padding: 5px 0;
    width: 5%;
}

#sliderContainer hr {
    background: #999;
    box-shadow: 0 1px #fff;
    border: 0;
    height: 1px;
}


/* End slider CSS */

#site {
    opacity: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

#preloader {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

#preloader img {
    height: 50px;
    width: 50px;
}

#preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 1px solid #3a407c;
    border-top: 1px solid transparent;
    border-radius: 100%;
}

#preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate;
}

@media only screen and (min-width: 768px) {
    #preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }
    #preloader:before {
        left: -2px;
        top: -2px;
        border-top-width: 2px;
        border-left-width: 2px;
        border-bottom-width: 2px;
        border-right-width: 2px;
    }
    #preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px;
    }
}

@media only screen and (min-width: 1200px) {
    #preloader {
        height: 80px;
        width: 80px;
        margin-top: -40px;
        margin-left: -40px;
    }
    #preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*-------------------------*/

.features-list {
    margin: 20px 10px;
}

.features-list-left {
    text-align: right;
    margin: 20px 10px;
}

.features-list ul.right li {
    padding: 10px 0px;
}

.features-list-left ul.left li {
    padding: 10px 0px;
    text-align: right;
}

.features-list ul.right {
    padding: 40px;
    margin-left: -40px;
}

.features-list-left ul.left {
    padding: 40px;
    margin-right: -40px;
}

.left-img {
    margin-right: -15px;
}

.right-img {
    margin-left: -15px;
}

.feature-img {
    height: 70vh;
    align-self: center;
}

#features h3 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

#features {
    padding: 30px 0px;
}