@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
@font-face {
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Gilroy-Bold"), url("/assets/fonts/Gilroy-Bold.woff") format("woff");
}

:root {
    --header-font: "Gilroy-Bold", serif;
    --text-font: "Overpass", sans-serif;
    --nav-font: "Overpass", sans-serif;
    --section-header-font: "Gilroy-Bold", "sans-serif";
    --primary-color: #3a407c;
    --secondary-color: #4f548b49;
    --text-color: #000000;
    --dark-color: #000000;
    --white-color: #ffffff;
}


/*
a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    color: #c71a33;
}
*/

button {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

body {
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: #fff;
}


/*
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 3.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.65rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}
*/

section {
    padding: 0rem 0;
    /* padding: 7rem 0;*/
}