@media (max-width: 991.98px) {
    section {
        padding: 0rem 0;
    }
}

@media (max-width: 414px) {
    .hero {
        /*padding: 12.5rem 0;*/
        background: url(../img/hero-b.svg) no-repeat;
        background-size: cover;
        background-position: bottom left;
        padding: 0rem 0 0rem 0;
        background-color: var(--white-color);
    }
    .hero-heading {
        color: var(--text-color);
        font-family: var(--section-header-font);
        font-size: 40px;
        line-height: 42px;
        padding-top: 0px;
    }
    #subscribe .notice {
        margin-top: 15px;
        font-size: 15px;
    }
    .features-list,
    .features-list-left {
        padding: 10px;
    }
    .features-list ul.right li {
        padding: 10px 5px;
    }
    .features-list-left {
        text-align: left;
    }
    .features-list-left ul.left li {
        padding-bottom: 10px;
        margin-left: -30px;
        text-align: left;
    }
    .features-list ul.right {
        padding: 0px;
        margin: 0px;
    }
    .features-list-left ul.left {
        padding: 0px;
        margin-left: 40px;
    }
    #features i {
        display: none;
    }
    .feature-img {
        display: none;
    }
    .right-img {
        margin-left: 45px;
    }
}

@media (max-width: 999px) {
    .hero-img,
    .feature-img,
    .right-img {
        display: none;
    }
}


/* HERO MEDIAQUERY */

@media (max-width: 991.98px) {
    .hero {
        padding: 3rem 0 3rem;
        padding-top: 3rem;
    }
    .subscription-form .form-group {
        position: static;
    }
    .subscription-form .form-group button {
        position: static;
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        transition: none;
    }
}

@media (max-width: 414px) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

mark,
.mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}